<launch>

  <!-- Launch stage with the specified world file-->
  <node pkg="stage_ros" type="stageros" name="stage" args="$(find snowmower_sim)/world/triple_i.world"/>

  <!-- Launch rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find snowmower_sim)/launch/sim.rviz"/>

  <!-- Launch the visual information simulator -->
  <node pkg="viz_feature_sim" type="viz_core.py" name="Viz Core Sim"/>

</launch>
